:root {
	--white: hsl(0deg 0% 84%);

	--brown: #272624;
	--brown-dark: #1f1e1c;

	--grey: hsl(0deg 1% 28%);
	--grey-50: hsl(var(--grey-hsl) / 0.5);

	--pale: #fff1ce;
	--text-script: 'IM Fell DW Pica', Times, Times Roman, Times New Roman, serif;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	background: var(--brown);
	color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--text-script);
	font-style: normal;
	font-weight: 400;
}

a {
	color: inherit;
}
