:root {
	--white: hsl(0deg 0% 84%);

	--black-hsl: 35deg 26% 3%;
	--black: hsl(var(--black-hsl));

	--brown-hsl: 40deg 4% 15%;
	--brown: hsl(var(--brown-hsl));

	--brown-dark-hsl: 40deg 5% 12%;
	--brown-dark: hsl(var(--brown-dark-hsl));

	--grey-hsl: 0deg 1% 28%;
	--grey: hsl(var(--grey-hsl));

	--pale-hsl: 43deg 100% 90%;
	--pale: hsl(var(--pale-hsl));

	--text-script: 'IM Fell DW Pica', Times, Times Roman, Times New Roman, serif;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	background: var(--brown);
	color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--text-script);
	font-style: normal;
	font-weight: 400;
}

a {
	color: inherit;
}

p {
	margin: 0;
}
